.bg-products {
    width: 100%;
    height: 100vh;
    background-image: url(./Image/bg-scout.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.product-text {
    margin-top: 100px;
}

.before-para {
    margin-right: 50px;
}

.products-hero-section h1 {
    font-size: 90px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.before-product p {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 30px;
    font-style: normal;
    font-weight: 90;
}

.before-product ::before {
    content: '';
    position: absolute;
    height: 75px;
    width: 5px;
    background-color: #fff;
    margin-left: -50px;
}

.img {
    border-radius: 50px;
}

.product-change {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    width: 750px;
    overflow: hidden;
}

.pro-trans {
    background-color: #fff;
    color: #333;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 280px;
    animation: openclose 5s ease-in-out infinite;
}

@keyframes openclose {
    0% {
        top: 0.2rem;
        width: 0;
    }
    5% {
        width: 0;
    }
    15% {
        width: 230px;
    }
    30% {
        top: 0.2rem;
        width: 350px;
    }
    33% {
        top: 0.2rem;
        width: 0;
    }
    35% {
        top: 0.2rem;
        width: 0;
    }
    38% {
        top: -4.5rem;
    }
    48% {
        top: -4.5rem;
        width: 190px;
    }
    62% {
        top: -4.5rem;
        width: 350px;
    }
    66% {
        top: -4.5rem;
        width: 0;
        text-indent: 0;
    }
    71% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }
    86% {
        top: -9rem;
        width: 285px;
    }
    95% {
        top: -9rem;
        width: 350px;
    }
    98% {
        top: -9rem;
        width: 0;
        text-indent: 5px;
    }
    100% {
        top: 0;
        width: 0;
        text-indent: 0;
    }
}

.product-change {
    color: #fff;
}

.driven {
    margin-left: 30px;
}


/* btn hover  */

.card-btn {
    position: relative;
    border: 2px solpxid currentColor;
    color: #000;
    overflow: hidden;
    text-decoration: none;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}

.btn-light:hover {
    color: #fff;
    background-color: #000;
    border-color: #f9fafb;
}

.bg-pro {
    position: absolute;
    top: 0;
    z-index: 2;
}

.planePath {
    stroke: #D9DADA;
    stroke-width: .9%;
    stroke-dasharray: 1% 2%;
    stroke-linecap: round;
    fill: none;
}

.fil1 {
    fill: #D9DADA;
}

.fil2 {
    fill: #C5C6C6;
}

.fil4 {
    fill: #9D9E9E;
}

.fil3 {
    fill: #AEAFB0;
}

.bg-overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
}